<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style type="text/css">


    #bigD {
      width: 400px;
      height: 200px;
      border: 1px solid silver;
      text-align: center;
    }
    .ipt1 {
      width: 250px;
      background-color: gainsboro;
      height: 30px;
      line-height: 30px;
      border: 1px solid white;
      margin-top: 40px;
    }
    .ipt2 {
      width: 250px;
      background-color: gainsboro;
      height: 30px;
      line-height: 30px;
      border: 1px solid white;
      margin-top: 5px;
    }

    .login {
      width: 250px;
      background-color: mediumspringgreen;
      color: white;
      border: 1px solid mediumspringgreen;
      height: 30px;
      margin-top: 5px;

    }
  </style>
</head>
<body>
<div id="bigD">
  <form action="loginSuccess" method="get" name="views" >
    <input type="text" class="ipt1" placeholder="请输入已验证手机/邮箱" name="userName">
    <input type="text" class="ipt2" placeholder="请输入密码" name="password">
    <button type="submit" class="login">登录</button>
  </form>
</div>
</body>
</html>