<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style1.css">

</head>
<body>
<div id="bigD">
  <!--************************logo开始*************************************-->
  <div id="theBig">
    <header>
      <div id="logo"></div>
      <ul id="theUl">
        <li class="theLi">
          <a href="#">首页</a>
        </li>
        <li class="theLi">
          <a href="#">阅读</a>
        </li>
        <li class="theLi">
          <a href="#">电台</a>
        </li>
        <li class="theLi">
          <a href="#">碎片</a>
        </li>
        <li class="theLi">
          <a href="#">客户端</a>
        </li>
      </ul>
      <div id="theR">
        <img class="bi" src="/images/bi.png">
        <div id="btnDeng">
          登录&nbsp;
          <span>/</span>
          &nbsp;注册
        </div>
      </div>
    </header>
  </div>

  <!--************************上面图片开始************************************-->
  <div id="centre">
    <div class="D1">
      <img src="/images/1.jpg">
      <span></span>>
      <p>这样锻炼你才会掌握说话...</p>
    </div>
    <div class="D2">
      <img src="/images/2.jpg">
      <span></span>>
      <p>有社交恐惧的你该怎么克服</p>
    </div>

    <div class="D3">
      <img src="/images/3.jpg">
      <span></span>>
      <p>坚持写手账135天,生活发生了哪些改变</p>
    </div>
    <div class="D4">
      <img src="/images/4.jpg">
      <span></span>>
      <p>怎样找到自己真正想做的事</p>
    </div>
    <div class="D5">
      <img src="/images/5.jpg">
      <span></span>>
      <p>外公的两条命</p>
    </div>
  </div>
  <!--************************阅读区开始*************************************-->
  <div id="read">
    <div id="hed">
      <div class="fang"></div>
      <div class="yue">阅读&nbsp;|&nbsp;Read</div>
    </div>
    <div class="character1">
      <div class="theL">
        <div class=" title">当我谈跑步时,我在谈恋爱</div>
        <div class="name">By / 阿帆哒</div>
        <span style="color: rgb(51,51,51);">———</span>
        <div class="txt">
          我辞职的理由是回家。在北京，平均跳槽时间是一年半，在所有辞职理由中，不到百分之二十是真实的。我在这家创业公司做了两年，职位是设计师，老板待我很好。
          <span>
                    <a class="theSpan" href="http://pianke.me/pages/read/articleInfo.html?id=5970973dcdff53182356fd81">VIEW ALL▶</a>
                </span>
        </div>
        <div class="affiliate">2.5 k次阅读  |  评论:46  |  喜欢:630</div>
      </div>
      <div class="theR">
      </div>
    </div>
    <div class="character1">
      <div class="theL">
        <div class=" title">超能力</div>
        <div class="name">By / Whale小诺</div>
        <span style="color: rgb(51,51,51);">———</span>
        <div class="txt">
          01   路过小区里公园的花坛时，她往往会在原地停留了片刻，像是在等候什么一样。等候之余，她会四处看看，趁没人注意的时候，她还会蹲下来，“喵喵喵”的叫
          <span>
                    <a class="theSpan" href="http://pianke.me/pages/read/articleInfo.html?id=5973e34ba581a32a609eb56a">VIEW ALL▶</a>
                </span>
        </div>
        <div class="affiliate">380次阅读  |  评论:2  |  喜欢:24
        </div>
      </div>
      <div class="theR2">
      </div>
    </div>
    <div class="character1">
      <div class="theL">
        <div class=" title">黄泉馆·倒霉鬼</div>
        <div class="name">By / 子夜晨星</div>
        <span style="color: rgb(51,51,51);">———</span>
        <div class="txt">
          1.   俗话说，人走运的时候，出门就能捡到钱。人倒霉的时候，喝凉水都能塞着牙缝。人的运势自然是有起有落，有高有低。 据说一个人如果运势旺，做事情就会顺风顺
          <span>
                    <a class="theSpan" href="http://pianke.me/pages/read/articleInfo.html?id=596d500d9ef298fa2ae5afca">VIEW ALL▶</a>
                </span>
        </div>
        <div class="affiliate">694次阅读  |  评论:0  |  喜欢:34</div>
      </div>
      <div class="theR3">
      </div>
    </div>
  </div>
  <!--*************************TING播放**********************************-->
  <div id="theTing">
    <div id="ting">
      <div class="fang"></div>
      <div class="yue">TING</div>
      <div id="frame">
        <!--边框-->
        <div class="side1">
          <div class="cover">
            <img class="theM" src="/images/ting1.jpg">
          </div>
          <div class="introduce">
            <div class="title" style="margin-left: 20px">把悲伤留给自己</div>
            <div class="name" style="margin-left: 20px">主播 / TingK</div>
            <div class="txt" style="margin-left: 20px">73.8 k次播放  |  评论:77  |  喜欢:646</div>
          </div>
        </div>

        <div class="side2">
          <div class="cover">
            <img class="theM" src="/images/ting2.jpg">
          </div>
          <div class="introduce">
            <div class="title" style="margin-left: 20px">「笑容」弹唱同期版</div>
            <div class="name" style="margin-left: 20px">主播 / 丁源</div>
            <div class="txt" style="margin-left: 20px">15.1 k次播放  |  评论:41  |  喜欢:305</div>
          </div>
        </div>


        <div class="side3">
          <div class="cover">
            <img class="theM" src="/images/ting3.jpg">
          </div>
          <div class="introduce">
            <div class="title" style="margin-left: 20px">流夏 | 留下吧。</div>
            <div class="name" style="margin-left: 20px">主播 / 栗先达</div>
            <div class="txt" style="margin-left: 20px">46.4 k次播放  |  评论:55  |  喜欢:618</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--************************人气片客*************************************-->
  <!--展开更多-->
  <div id="pianKe">
    <div class="fang"></div>
    <div class="yue">人气片客| Hot Pianker</div>
    <div id="BD">
      <div class="figure1">
        <div class="sculpture1"></div>
        <img class="music" src="/images/音乐人.png">
        <div class="theName">王睿 Ray</div>
        <span class="H">——</span>
        <div class="name" style="margin-left: 130px;">流行歌手王睿</div>
      </div>

      <div class="figure2">
        <div class="sculpture2"></div>
        <img class="music" src="/images/音乐人.png">
        <div class="theName">陆深兽</div>
        <span class="H">——</span>
        <div class="name" style="margin-left: 130px;width: 80px">片刻翻唱达人陆深深</div>
      </div>

      <div class="figure3">
        <div class="sculpture3"></div>
        <img class="music" src="/images/音乐人.png">
        <div class="theName">阿见</div>
        <span class="H">——</span>
        <div class="name" style="margin-left: 130px;width: 80px">独立音乐人，电台主持人</div>
      </div>

      <div class="figure4">
        <div class="sculpture4"></div>
        <img class="music" src="/images/音乐人.png">
        <div class="theName">贤菌</div>
        <span class="H">——</span>
        <div class="name" style="margin-left: 130px;width: 80px">靠脸吃饭，臭不要脸！</div>
      </div>
    </div>
    <div id="handpick">
      <div id="handpick2">
        更多精选
      </div>
    </div>
  </div>

  <div id="end">

  </div>


</div>


<!--<script>-->
  <!--//判断上方logo消失:-->
  <!--document.getElementsByTagName("body")[0].onscroll=function(){-->
    <!--if(document.getElementsByTagName("body")[0].scrollTop>400){-->
      <!--var style =  document.getElementById("theBig");-->


    <!--}}-->

<!--</script>-->

</body>
</html>